<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.curd.mapper.UserDao">
    <resultMap type="com.curd.pojo.User" id="userResult">
        <id property="id" column="ID" />
        <result property="name" column="U_NAME" />
    </resultMap>

    <resultMap type="com.curd.pojo.User" id="userResult1">
        <id property="id" column="ID" />
        <result property="name" column="U_NAME" />
        <collection property="books" ofType="com.bo.Book">
            <id property="id" column="B_ID" />
            <result property="name" column="NAME" />
        </collection>

    </resultMap>

    <select id="getUserAll" resultMap="userResult">
        SELECT * FROM user
    </select>

    <select id="getUserById" resultMap="userResult1">
        SELECT a.*,b.ID as B_ID,b.NAME FROM user a , books b WHERE a.ID=b.U_ID AND a.ID = #{id}
    </select>
</mapper>